.bodyHeader {
  background-color: #7aa3b3;
  height: 670px;
  padding-top: 5rem;
  padding-bottom: 7.5rem;
}

button {
  background-color: #ffd300;
  padding: 10px 30px;
}

@media screen and (max-width: 600px) {
  .text {
    /* display: none; */
  }

  .gambar {
  }

  .bodyHeader {
    height: 800px;
  }

  .ilangpadding {
    padding-top: 0px !important;
  }
}

h1 {
  position: relative;
  z-index: 2;
}
h3 {
  position: relative;
  z-index: 2;
}
button {
  position: relative;
  z-index: 2;
}
img {
  position: relative;
  z-index: 2;
}
